.myaboutcard{
    color: #000;
   
}
.carousel-item {
    width: 100%;
    height: 400px;    
}

.carousel-item img{
    height: 400px;    
    object-fit: fill;
}

.card img{
    height: 15rem;
    border-radius: 5%;
}
.jumbotron{
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.gallery-col{
    /* width: 100%; */
    height: 17rem;
}
.gallery-col img{
    width: 100%;
    height: 100%;
}
.marqueebox {
    background-color: yellow;
    padding: 20px;
    color: blue;
    font-size: 30px;
    font-weight: bold;
}

.coursebox button{
    margin: 5px;
}
.social-icons{
    margin: 10px;
    text-align: center;
}
.social-icons li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin: 0px;
    padding: 10px;
}
.social-icons li a:hover{
    color: #fff;
    
}

@media screen and (max-width:600px) {
    .col-6{
        width: 100%;
    }
    .gallery-col{
        width: 100%;
    }
    .marqueebox {
        background-color: yellow;
        padding: 10px;
        color: blue;
        font-size: 20px;
        font-weight: bold;
    }
}